body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/fondo\ compra.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    text-align: center;
    background-color: rgba(240, 248, 255, 0.957);
    border-radius: 500px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: rgba(255, 248, 225, 0.932);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(241, 241, 4, 0.612);
}

label {
    margin-bottom: 5px;
}

input, select, button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f8e7e7;
    border-radius: 500px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #080808;
    text-align: center;
}

button {
    background-color: #a1a728bd;
    color: rgb(252, 252, 252);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a1a728bd;
}